.element-service {
  &__post {
    .item {
      &__thumb {
        position: relative;
        margin-bottom: 20px;
        border-radius: 8px;
        overflow: hidden;

        &:after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          visibility: hidden;
          opacity: 0;
          background-color: rgba(255, 255, 255, 0.6);
          @include transition();
        }
      }

      &__title {
        margin-bottom: 0;
        text-align: center;
        font-size: 16px;
        color: #272727;
      }
    }

    .owl-item {
      &.active {
        &.overlay {
          .item {
            &__thumb {
              &:after {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}