.project-detail {
  .title-post {
    font-size: 28px;
  }

  .info {
    .item {
      margin-bottom: 10px;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 16px;
      @include align-items(center);
    }
  }
}