@media (min-width: 1400px) {

  .container {
    max-width: 1220px;
  }

  .header {
    &__top {
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
    }

    .nav-primary {
      padding: 0 100px;

      > ul {
        grid-gap: 48px;
      }
    }
  }

}

@media (min-width: 1200px) and ( max-width: 1399px ) {

  .header {
    &__top {
      padding-left: 12px;
      padding-right: 12px;
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);

      .right {
        .search-box {
          width: 150px;
          @include flex(0 0 auto);
        }
      }
    }

    .nav-primary {
      padding-left: 12px;
      padding-right: 12px;

      > ul {
        grid-gap: 24px;

        > li {
          &:not(:first-child):before {
            left: -12px;
          }
        }
      }
    }
  }

  .element-about {
    &__box {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  .header {
    &__top {
      display: none;
    }

    .nav-primary {
      padding-left: 15px;
      padding-right: 15px;
      grid-gap: 12px;

      > ul {
        grid-gap: 16px;

        > li {
          &:not(:first-child):before {
            left: -10px;
          }
        }
      }
    }
  }

  .element-banner {
    height: 768px;
  }

  .element-about {
    &__box {
      padding: 16px;

      .left {
        grid-template-columns: 150px 1fr;
        grid-gap: 12px;

        .tex-box {
          .title {
            font-size: 20px;
            margin-bottom: 16px;
          }
        }
      }

      .right {
        ul {
          li {
            font-size: 14px;
          }
        }
      }
    }
  }

}

@media (min-width: 992px) {

  .header {
    background-color: rgba(10, 10, 10, 0.9);

    &.absolute {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }

    .nav-primary {
      > ul {
        @include flexbox();
        height: 100%;
      }

      .logo {
        padding: 14px 0;
      }

      .right-box {
        .search-box {
          display: none !important;
        }
      }
    }
  }

}

@media (max-width: 991px) {

  body {
    background-color: #EFEFEF;
  }

  .header {
    background-color: rgba(0,0,0,0.9);

    &__top {
      display: none;
    }

    .nav-primary {
      padding: 0 15px;

      &__left,
      &__right {
        display: none;
      }

      .logo {
        padding: 20px 0;
      }

      .btn-menu-mobile,
      .btn-search-mobile {
        color: #ffffff;
        font-size: 20px;
      }

      .right-box {
        position: relative;

        .search-box {
          position: absolute;
          display: none;
          top: 100%;
          right: 0;
          z-index: 10;
          @include transform(translateY(26px));

          input {
            padding: 6px 30px 6px 12px;
            width: 230px;
            border: none;
            border-radius: 0;
          }

          .btn-submit {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border: none;
            padding: 0 12px 0 0;
            background-color: transparent;
          }
        }
      }
    }
  }

  .menu-mobile {
    background-color: #000000;

    .offcanvas-header {
      padding: 28px 24px;
      @include align-items(flex-start);

      .btn-close-menu {
        color: #ffffff;
        font-size: 24px;
      }
    }

    .offcanvas-body {
      padding: 0 24px 28px;
      > ul {
        > li {
          padding-bottom: 12px;
          margin-bottom: 12px;
          border-bottom: 1px solid rgba(196, 196, 196, 0.2);

          > a {
            text-transform: uppercase;
            font-weight: 700;
            color: #E0E0E0;
          }

          &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
          }
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          a {
            &:hover {
              color: $color-hover;
            }
          }

          ul {
            display: none;
            padding-left: 8px;
            padding-top: 8px;

            li {
              position: relative;
              padding-left: 18px;
              margin-bottom: 8px;

              &:before {
                position: absolute;
                content: "";
                top: 12px;
                left: 0;
                width: 4px;
                height: 4px;
                background-color: #B9B9B9;
                border-radius: 50%;
              }

              a {
                color: #B9B9B9;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          &.menu-item-has-children {
            @include flexbox();
            @include flex-wrap(wrap);

            > a {
              @include flex(1);
            }

            .sub-menu-toggle {
              color: #E0E0E0;
              @include flex(0 0 auto);

              &:after {
                content: "\f078";
                display: inline-block;
                font-family: "Font Awesome 5 Free",serif;
                font-style: normal;
                font-weight: 900
              }

              &.active {
                &:after {
                  @include transform(rotate(180deg));
                }
              }
            }

            .sub-menu {
              width: 100%;
              @include flex(0 0 auto);
            }
          }
        }
      }
    }
  }

  .element-banner {
    height: 480px;

    .mobile-box {
      .title {
        color: #ffffff;
        font-size: 24px;
        font-weight: 900;
        line-height: 1.42em;
        margin-bottom: 24px;
      }

      .link {
        display: inline-block;
        padding: 12px 18px 14px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 900;
        color: #ffffff;
        border-radius: 4px;
        background-color: $background-primary;

        span {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }

  .element-project-grid {
    .item {
      .col-item {
        width: 50%;
      }

      &__post,
      .thumb {
        height: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .element-project-tabs-mobile {
    .btn-group {
      display: block;
    }

    img {
      width: 25px;
    }

    span {
      display: block;
      margin-left: 12px;
      font-size: 12px;
      font-weight: 900;
      color: $color-title;
    }

    .dropdown-project-mobile {
      display: grid;
      grid-template-columns: auto 1fr;
      padding: 10px 16px;
      border-radius: 4px;
      border: 1px solid #B4B4B4;

      img {
        width: 25px;
      }

      span {
        position: relative;
        margin-left: 12px;
        margin-top: 0;

        &:after {
          position: absolute;
          top: -3px;
          right: 0;
          content: "\f0dd";
          font-weight: 900;
          font-family: "Font Awesome 6 Free", serif;
        }
      }
    }

    ul {
      li {
        width: 100%;
        @include flex(0 0 auto);

        .nav-link {
          border-radius: 0;
          @include flexbox();
          @include align-items(center);

          &.active,
          &:hover {
            background-color: $background-primary;
          }
        }
      }
    }
  }

  .element-about {
    &__box {
      grid-template-columns: 1fr;

      .left {
        grid-template-columns: 1fr;
      }
    }
  }

}

@media (max-width: 767px) {

  .element-about {
    &__box {
      padding: 0;
      border: none;

      .left {
        grid-template-columns: 1fr;

        .tex-box {
          .title {
            font-size: 22px;
            margin-bottom: 16px;
          }
        }
      }
    }
  }

}