// Color
$color-primary: #373737;
$color-title: #151618;
$color-second: #272727;
$color-hover: #F2A849;
$color-sub: #C7C7C7;

// Background
$background-primary: #333333;
$background-hover: #ff5555;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;